.disabledTab {
    pointer-events: none;
}
.bx{
    outline: 1px blue solid;
}
/* Page ListPaciente*/
/* Editar en diferentes vistas */
#editPaciente .modal-lg{
    width: 1100px;
}
/* Page ListPaciente*/

/* Page Paciente */
#contenedorImg{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.btn-foto{
    margin-left: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    
}
/* Page Paciente */